@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .cards__content {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .cards__right {
        max-width: 540px;
        width: 100%;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .nav {
        padding-top: 20px;
    }

    .nav .container {
        flex-direction: column;
    }

    .nav__menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner {
        height: 700px;
    }

    .footer .container {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
        column-gap: 30px;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .cards__left-img {
        width: 100%;
    }

    .card {
        max-width: 100%;
        min-height: 460px;
        justify-content: space-evenly;
    }

    .card__box {
        width: 250px;
        height: 250px;
    }

    .footer .container {
        flex-direction: column;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .banner {
        height: 400px;
    }

    .card {
        max-width: 100%;
        min-height: 460px;
        justify-content: space-evenly;
    }
    .card__box {
        width: 200px;
        height: 200px;
    }
}

